@charset "utf-8";
#line {
  	color: #326693;			/* 見出しテキストの色を指定する */
	margin-right:50px;		/* ボックス内左側の余白を指定する */
    border-bottom: 1px dashed #31a9ee; 	/* ボーダー下部のスタイルを指定する */
    border-top: 1px dashed #31a9ee;
	/*border-left: 10px solid #31a9ee;*/	/* ボーダー左側のスタイルを指定する */
    border-right: 10px solid #16fa06;

}
#start {
    margin-bottom:15px;
    margin-top:10px;
}
