.animation-area{
    margin-right: 80px;
    margin-top: 20px;
  }

  p{
    border:solid 1px;
    border-right: solid 5px;
    /* background-color:rgba(87, 212, 38, 0.349); */
  }

  a{
    font-size: 30px;
  }

  h1{
    text-align: center;
  }
